<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>

<head>
    <div th:replace="~{fragments/fragments :: headTags}"></div>
    <title th:text="${pizza.name}"></title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar(current='${pizza.name}')}"></nav>
    <div class="container mt-4">
        <h1 class="text-center">Pizza Details</h1>
        <div th:object="${pizza}" class="container text-center">
            <h1>[[*{name}]]</h1>
            <img class="col-4" th:src="@{*{urlPhoto}}" alt="Pizza Image" width="300" height="300" />
            <p><strong>Description:</strong> <span th:text="*{description}"></span></p>
            <p><strong>Price:</strong> <span th:text="|$*{price}|"></span></p>
        </div>
        <hr />
    </div>
    
    <div class="container mt-4">
        <h2 class="fw-bold">Offers</h2>
        <div th:if="${pizza.offers.size() == 0}">
            <p class="alert alert-warning">No offers available for this pizza.</p>
        </div>
        <div th:if="${pizza.offers.size() > 0}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Offer Start</th>
                        <th>Offer End</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="offer : ${pizza.offers}">
                        <td th:text="${offer.title}"></td>
                        <td th:text="${offer.offerStart}"></td>
                        <td th:text="${offer.offerEnd}"></td>
                        <td>
                            <a th:href="@{/offers/edit/{id}(id=${offer.id})}" class="btn btn-warning">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="mb-3">
            <a class="btn btn-primary" th:href="@{/pizzas}">Back to Pizzas</a>
        </div>
        
    <div th:replace="~{fragments/fragments :: scripts}"></div>
</body>

</html>